# File Types to ignore


# Folders to ignore
__pycache__/
Projects/Learning_Tutorials/
Projects/NVE/sienna_runs/run_output/
Projects/NVE/sienna_runs/.vscode/
Projects/.vscode/
.vscode/
# Specific Files to ignore
# Projects/NVE/sienna_runs/nve_plexos2sienna_FPA_v3_old.jl

