# File Types to ignore
*.json
*.h5
*.log
*.DS_Store
*.bin
*.sha256
*.xlsx
*.csv
jl_*/
*.xml
*.png 
*.db

# Folders to ignore
*output/
NVE_7_19_24/
NVE_9_16_24/
Projects/Learning_Tutorials

#specific files to ignore
nve_env/Manifest.toml
nve_env/Project.toml
Projects/NVE/sienna_runs/nve_plexos2sienna_FPA_v1.jl
Projects/NVE/sienna_runs/nve_plexos2sienna_FPA_v3_old.jl
